name: Conventional Commits

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  push:
    branches:
      - main

jobs:
  validate-commits:
    name: Validate Conventional Commits
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Validate Conventional Commits
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlintrc.yml
